body {
  margin: 0;
}
.titlebar {
  display: flex;
  height: 30px;
  background: rgb(39, 38, 46);
  color: #74b1be;
  justify-content: center;
  align-items: center;
  app-region: drag;
  user-select: none;
}
.titlebarC {
  position: fixed;
  display: flex;
  width: 100%;
  height: 30px;
  background: rgb(39, 38, 46);
  color: #74b1be;
  justify-content: center;
  align-items: center;
  app-region: drag;
  user-select: none;
}

.titlebarC h1 {
  font-size: medium;
}

.titlebarC ul {
  list-style: none;
}
.inputsContainer {
  padding-top: 30px;
}
.titlebar h1 {
  font-size: medium;
}

.titlebar ul {
  list-style: none;
}

#registrar,
#consultar {
  display: inline-block;
  margin-left: 10px;
  app-region: no-drag;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.negative {
  color: red;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fff;
  border-radius: 20px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-size: larger;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#users-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: medium;
  margin: 6px 0;
}

.card p {
  margin: 4px 0;
  color: #555;
}
